<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ .Title }}",
    "description": "{{ .Description }}",
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
    "author": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}"
    },
    "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ "/apple-touch-icon.png" | absURL }}"
        }
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
    }
}
</script>

<section class="section is-medium">
  <div class="container">
    <div class="blog-content">
      <div class="columns is-centered">
        <div class="column is-8 is-centered-tablet-portrait">
          <div class="has-text-centered">
            <time class="post-date">{{ .Date.Format "02. January 2006" }}</time>
            <h1 class="title section-title">{{ .Title }}</h1>
            <h5 class="subtitle is-5 is-muted">{{ .Summary }}</h5>
            {{ if .Params.image }}
              <div class="blog-header">
                {{ $imagePath := trim .Params.image "/" }} 
                {{ $original := resources.Get $imagePath }}
                
                {{ $thumbnail := partial "convert-image.html" (dict "src" $imagePath "resize" "959x" "quality" "85" "format" "webp") }}
                <img src="{{ $thumbnail.url }}" alt="{{ .Title }}">
              </div>
            {{ end }}
          </div>
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>