{{ define "main" }}
{{ partial "navbar.html" . }}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <h1 class="title is-1 has-text-centered mb-6">{{ .Title }}</h1>
        <div class="columns is-multiline is-variable is-4">
          {{ range .Pages }}
          <div class="column is-4">
            {{ partial "career-card.html" . }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ partial "footer.html" . }}
{{ end }}
