services:
  website:
    image: rg.nl-ams.scw.cloud/slai-cr/website:latest
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.website.loadbalancer.server.port=8080"
      - "traefik.http.routers.website.rule=Host(`smart-labs.ai`)"
      - "traefik.http.routers.website.entrypoints=websecure"
      - "traefik.http.routers.website.tls.certresolver=le"
      - "traefik.http.routers.website.service=website"
      - "traefik.docker.network=traefik"
    mem_limit: 100m
    memswap_limit: 100m
    mem_reservation: 25m
    cpus: 0.1
    networks:
      - traefik

networks:
  traefik:
    name: traefik
    external: true