{{- $liveIn := .Params.liveInSection }}
{{- $backgroundImage := index $liveIn "background-image" }}

{{ $image := partial "convert-image.html" (dict "src" $backgroundImage "resize" "1800x" "quality" "100") }}
  <section class="section section-landingpage live-in-section is-medium"
  style="background-image: url('{{ $image.url }}');
         background-position: top;
         background-repeat: no-repeat;
         background-size: cover;
         min-height: {{ $image.height }}px;
         display: flex;
         align-items: center;
         justify-content: center;
">
  <div class="container has-text-centered">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="pill-bar pill-bar-small-gap">
          <span class="live-text">{{ $liveIn.text }}</span>
          <div class="pill pill-glass pill-rounded pill-small-left">
              <img src="/images/hero-landingpage/timer.svg" class="ml-1">
              <span class="live-time">{{ $liveIn.amout }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>