{{- $endorsements := .Site.Params.section_testimonial.endorsements }}

<section class="endorsement-logos">
  <div class="logo-container">
    {{- range $endorsements }}
    <div class="logo-item">
      {{ $companyName := .logo | default "" | strings.TrimPrefix "/" }}
      {{ $imagePath := printf "testimonial/images/logo/%s" $companyName }}
      {{ $original := resources.Get $imagePath }}

      {{ if $original }}
        {{ $thumbnail := $original.Resize "x40 webp q85 drawing" }}
        <img src="{{ $thumbnail.RelPermalink }}" alt="{{ .company }}">
      {{ else }}
        {{ errorf "Image not found: %s" .Params.image }}
      {{ end }}
    </div>
    {{- end }}
  </div>
</section>