{{- $servicesHero       := .Site.Params.services_hero }}
{{- $pageTitle  := index $servicesHero "pageTitle" }}
{{- $title      := index $servicesHero "title" }}
{{- $subtitle   := index $servicesHero "subtitle" }}
{{- $secondaryButtonText := index $servicesHero "secondaryButtontext" }}
{{- $secondaryButtonLink := index $servicesHero "secondaryButtonlink" }}

<section class="hero is-fullheight is-default is-bold">
    <div class="hero-background"></div>
    <div class="hero-background-grain"></div>
    <div class="hero-body">
    <div class="container">
        <div class="columns is-vcentered is-multiline is-hidden-touch">
        <div class="column is-8 landing-caption">
            <p class="page-title">
            {{ $pageTitle }}
            </p>
            <h1 class="title section-title is-1 is-spaced">
            {{ $title }}
            </h1>
            {{ with $subtitle }}
            <h2 class="subtitle is-5">
            {{ . | markdownify }}
            </h2>
            {{ end }}
            <a class="button cta rounded secondary-btn raised" href="{{ $secondaryButtonLink }}">
                {{ $secondaryButtonText }}
            </a>
            </div>
        </div>
        </div>

        <div class="columns is-vcentered is-multiline is-hidden-desktop">
        <div class="column is-12 landing-caption">
            <h1 class="title section-title is-1 is-bold is-spaced">
            {{ $title }}
            </h1>
            {{ with $subtitle }}
            <h2 class="subtitle is-5">
            {{ . | markdownify }}
            </h2>
            {{ end }}
        </div>
        <div class="column is-12 has-text-centered">
            <div class="buttons is-centered mt-4">
            <a class="button cta rounded secondary-btn raised" href="{{ $secondaryButtonLink }}">
                {{ $secondaryButtonText }}
            </a>
            </div>
        </div>
        </div>
    </div>
</section>