{{- $servicesHero       := .Site.Params.services_hero }}
{{- $pageTitle  := index $servicesHero "pageTitle" }}
{{- $title      := index $servicesHero "title" }}
{{- $subtitle   := index $servicesHero "subtitle" }}
{{- $secondaryButtonText := index $servicesHero "secondaryButtontext" }}
{{- $secondaryButtonLink := index $servicesHero "secondaryButtonlink" }}

<section class="hero is-default is-bold">
  <div class="services-hero-background"></div>

  <div class="services-hero-body">
    <div class="container">
      <!-- Desktop -->
      <div class="columns is-vcentered is-multiline is-hidden-touch">
        <div class="column is-8 landing-caption">
          <p class="services-page-title">
            {{ index .Site.Params.services_hero "pageTitle" }}
          </p>

          <h1 class="services-title section-title is-1 is-spaced">
            {{ index .Site.Params.services_hero "title" }}
          </h1>

          {{ with index .Site.Params.services_hero "subtitle" }}
            <h2 class="services-subtitle is-5">{{ . | markdownify }}</h2>
          {{ end }}
          
          <!-- FIXME: spacing between text and icon -->
          <a class="button cta rounded secondary-btn raised"
             href="{{ index .Site.Params.services_hero "secondaryButtonlink" }}">
            {{ index .Site.Params.services_hero "secondaryButtontext" }}
            <img src="/images/services/hero/arrow-right-icon.svg" alt="Arrow Right Icon">
          </a>
        </div>
        <div class="services-hero-feature-chart column is-3">
          <div class="services-hero-feature-card-line-element">
            <div class="services-hero-feature-card">
              <img src="/images/services/hero/criminal-icon.svg" alt="Criminal Icon">
            </div>
            <p class="services-hero-feature-line" />
          </div>
          <img src="/images/services/hero/protection-icon.svg" alt="Protection Icon">
          <div class="services-hero-feature-card-line-element">
            <p class="services-hero-feature-line" />
            <div class="services-hero-feature-card">
              <img src="/images/services/hero/database-icon.svg" alt="Database Icon">
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile -->
      <div class="columns is-vcentered is-multiline is-hidden-desktop">
        <div class="column is-12 landing-caption">
          <p class="services-page-title">
            {{ index .Site.Params.services_hero "pageTitle" }}
          </p>

          <h1 class="services-title section-title is-1 is-bold is-spaced">
            {{ index .Site.Params.services_hero "title" }}
          </h1>

          {{ with index .Site.Params.services_hero "subtitle" }}
            <h2 class="services-subtitle is-5">{{ . | markdownify }}</h2>
          {{ end }}
        </div>

        <div class="column is-12 has-text-centered">
          <div class="buttons is-centered mt-4">
            <a class="button cta rounded secondary-btn raised"
               href="{{ index .Site.Params.services_hero "secondaryButtonlink" }}">
              {{ index .Site.Params.services_hero "secondaryButtontext" }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
