{{- $servicesProblemsSection       := .Site.Params.services_problems_section }}
{{- $title      := index $servicesProblemsSection "title" }}
{{- $problems   := index $servicesProblemsSection "problems" }}

<section class="services-problems-section">
  <div class="container">
    <div class="title-container">
      <h1 class="section-title section-title is-1 is-spaced">
        {{ index .Site.Params.services_problems_section "title" }}
      </h1>
    </div>

    <div class="cards-container">
      {{ range $problems }}
      <div class="problem-card">
        <div class="problem-card-inner">
          <div class="problem-card-icon-wrapper">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
            <img class="problem-icon" src="{{ .icon }}" icon />
          </div>
          <div class="problem-card-text">
            <h2 class="problem-title">{{ .title }}</h2>
            <p class="problem-description">{{ .description }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
