<section class="section is-medium">
  <div class="container">

    <div class="columns">

    </div>

    <div class="content" style="max-width: 800px; margin: 0 auto;">
      <div class="blog-header">
        {{ $imagePath := trim .Params.image "/" }} 
        {{ $original := resources.Get $imagePath }}
        
        {{ if $original }}
          {{ $thumbnail := $original.Resize "800x webp" }}
          <img src="{{ $thumbnail.RelPermalink }}" alt="{{ .Title }}" style="object-fit: cover; object-position: center;">
        {{ else }}
          {{ errorf "Image not found: %s" .Params.image }}
        {{ end }}
      </div>
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ .Title }} </h1>
        <h5 class="subtitle is-5 is-muted">{{ .Summary }}</h5>
        <div class="divider"></div>
      </div>
      <div class="content" style="max-width: 800px; margin: 0 auto; padding: 0 12px;">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
