{{- $hero := .Params.hero }}
{{- $backgroundImage := index $hero "background-image" }}
{{- $title := index $hero "title" }}
{{- $subtitle := index $hero "subtitle" }}
{{- $sectionTitle := index $hero "section-title" }}
{{- $content := index $hero "content" }}
{{- $liveIn := index $hero "live-in" }}
{{- $compatibility := index $hero "compatibility" }}
{{- $ctas := index $hero "ctas" }}

{{ $src := $backgroundImage }}
{{ $img := resources.Get $src }}
{{ if $img }}
  {{ $processedBackground := $img.Process "resize 1800x webp q100" }}
  {{ $height := $processedBackground.Height }}
  <style>
    .hero-background-custom::before {
      background: url('{{ $processedBackground.RelPermalink }}') no-repeat center/cover;
      height: {{ $height }}px;
    }
  </style>
  
  <section class="section">
    <div class="section hero-container">
      <div class="hero-background-custom"></div>
      
      <div class="hero-body">
        <div class="container">
          <div class="hero-content">
            <div class="section-badge">
              <span class="section-title">{{ $sectionTitle | markdownify }}</span>
            </div>
            
            <h1 class="hero-title">
              {{ $title }}
            </h1>

            {{ with $subtitle }}
            <p class="hero-subtitle">
              {{ . | markdownify }}
            </p>
            {{ end }}
            
            {{ with $liveIn }}
            <div class="pill-bar pill-bar-small-gap">
              <span class="live-text">{{ (index . 0).text }}</span>
              <div class="pill-purple pill-small-left">
                <div class="live-pill">
                  <img src="/images/hero-landingpage/timer.svg" class="ml-1">
                  <span class="live-time">{{ (index . 1).amout }}</span>
                </div>
              </div>
            </div>
            {{ end }}
            
            {{ with $compatibility }}
            <div class="compatibility-section mt-6">
              <p class="compatibility-text">{{ (index . 0).text }}</p>
              <div class="pill-bar compatibility-logos">
                {{ range (index . 1).items }}
                <div class="pill pill-glass logo-item pill-small-left">
                  <div class="logo-icon">
                    <img src="/images/hero-landingpage/compatible/{{ .item.id }}.svg" style="height:24px">
                  </div>
                  <span class="logo-name">{{ .item.name }}</span>
                </div>
                {{ end }}
              </div>
            </div>
            {{ end }}
            
            {{ with $ctas }}
            {{ range . }}
            <div class="cta-section">
              <a href="{{ .href }}" class="button rounded primary-btn raised mr-4">
                  {{ .label }}
                  <span class="icon ml-2">
                    <i class="fas fa-arrow-right"></i>
                  </span>
              </a>
            </div>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
</section>
{{ else }}
  {{ errorf "Image not found: %s" $src }}
{{ end }}