<article class="blog-card is-flex is-flex-direction-column h-full">
  <div class="blog-image-container">
    {{ $imagePath := trim .Params.image "/" }} 
    {{ $original := resources.Get $imagePath }}
    
    {{ $thumbnail := partial "convert-image.html" (dict "src" $imagePath "resize" "384x" "quality" "85" "format" "webp") }}
    <img src="{{ $thumbnail.url }}" alt="{{ .Title }}" style="object-fit: cover; object-position: center;" class="blog-image">
  </div>

  <div class="blog-card-content is-flex is-flex-direction-column is-flex-grow-1">
    <time class="blog-date">{{ .Date.Format "02.01.2006" }}</time>
    <h2 class="blog-card-title">{{ .Title }}</h2>
    <p class="blog-excerpt is-size-6 mb-4">
      {{ .Summary }}
    </p>

    {{ $link := .Params.medium_url }}
    {{ if not $link }}{{ $link = .Params.youtube_url }}{{ end }}
    {{ if not $link }}{{ $link = .Permalink }}{{ end }}
    <a href="{{ $link }}" class="read-more mt-auto" target="_blank" rel="noopener">
      <span>Mehr erfahren</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M13 18l6 -6" />
        <path d="M13 6l6 6" />
      </svg>
    </a>

  </div>
</article>
