<div class="card hover-card">
  <div class="card-content">
    <h3 class="title is-4 has-text-primary">{{ .Title }}</h3>
    <p class="subtitle is-6 has-text-grey-dark mb-3">
      <span class="icon">
        <i class="fas fa-map-marker-alt"></i>
      </span>
      {{ .Params.location }} • 
      <span class="has-text-weight-semibold">{{ .Params.type }}</span>
    </p>
    <div class="content has-text-grey">
      {{ .Summary | truncate 150 | safeHTML }}
    </div>
  </div>
  <footer class="card-footer">
    <a href="{{ .RelPermalink }}" class="card-footer-item">
      Details anzeigen
    </a>
    <a href="{{ .Params.apply_link }}" 
       class="card-footer-item has-text-weight-bold has-text-primary">
      Jetzt bewerben
    </a>
  </footer>
</div>
