{{- $section_contact   := .Site.Params.section_contact }}
{{- if eq $section_contact true }}
{{- $section_contact = dict "_" "_" }}
{{- end }}
{{- $title      := index $section_contact "title" | default "Drop us a line or two "}}
{{- $subtitle   := index $section_contact "subtitle" | markdownify }}
{{- $action     := index $section_contact "action" }}
{{- $method     := index $section_contact "method" }}
{{- $buttonText := index $section_contact "buttontext" | default "Send Message" }}
<section class="section section-primary is-medium" id="contact" style="background-image: url('/images/hero/hero.png'); background-position: top; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title section-title is-2 is-spaced">{{ $title | markdownify }}</h2>
      <h3 class="subtitle is-5">{{ $subtitle | markdownify }}</h3>
    </div>

    <div class="content-wrapper">
      <div class="columns mt-6">
        <div class="column is-6 is-offset-3">
            <div class="card pipedriveWebForms" data-pd-webforms="https://webforms.pipedrive.com/f/c6vRsvlamMIgy5DpedBOJO2iKeQo5oS1jGfUAhGLcnel3y8O2RWhfULFXM2mB3Nt1V">
              <!-- Platzhalter für Klaro: wird nur gefüllt, wenn Marketing akzeptiert wurde -->
              <div id="pipedrive-form-placeholder" data-service="pipedrive-form">
                <h2>Um dieses Formular zu sehen, akzeptiere bitte Marketing-Cookies.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
