{{- $section_testimonial_data := .Params.section_testimonial | default .Site.Params.section_testimonial }}
{{- $sectionType := index $section_testimonial_data "sectionType" | default "" }}
{{- $sectionTitle := index $section_testimonial_data "section-title" | default "" -}}
{{- $title    := $section_testimonial_data.title }}
{{- $subtitle := $section_testimonial_data.subtitle }}
{{- $items := $section_testimonial_data.features }}

<section class="section testimonial is-medium {{ $sectionType }}" id="section-testimonial" style="padding-bottom:0">
  <div class="container has-text-centered">
    <div class="columns is-centered is-vcentered">
      <div class="column is-8">
        {{- if $sectionTitle }}
          <h3 class="section-name is-5">{{ $sectionTitle | markdownify }}</h3>
        {{- end }}
        {{- if $title }}
          <h1 class="title section-title is-spaced">{{ $title }}</h1>
        {{- end }}
        {{- if $subtitle }}
          <h3 class="subtitle section-subtitle">{{ $subtitle }}</h3>
        {{- end }}
      </div>
    </div>
  </div>


  <div class="container mt-6">
    <div class="columns is-multiline">
      {{- range $items }}
      <div class="column is-6-desktop is-12-tablet">
        <div class="card {{ with .cardType }} {{ . }}{{ end }} is-flex is-flex-direction-column" style="height: 100%;">
          <div class="card-content is-flex-grow-1">
            <div class="is-flex is-flex-direction-row is-align-items-start">
              <figure class="image is-64x64">
                {{ $faceName := .face | default "" | strings.TrimPrefix "/" }}
                {{ $imagePath := printf "testimonial/images/face/%s" $faceName }}
                {{ $original := resources.Get $imagePath }}

                {{ $thumbnail := partial "convert-image.html" (dict "src" $imagePath "resize" "64x64" "quality" "85" "format" "webp") }}
                <img class="round-image" src="{{ $thumbnail.url }}" alt="{{ .name }}">
              </figure>
              <div class="ml-4 is-flex is-flex-direction-column">
                <div class="is-flex is-flex-direction-column">
                  <h4 class="title is-8">{{ .name | markdownify }}</h4>
                </div>
                <div class="">
                  {{ $companyName := .logo | default "" | strings.TrimPrefix "/" }}
                  {{ $imagePath := printf "testimonial/images/logo/%s" $companyName }}
                  {{ $original := resources.Get $imagePath }}

                  {{ $thumbnail := partial "convert-image.html" (dict "src" $imagePath "resize" "x40" "quality" "85" "format" "webp") }}
                    <img style="height:40px;" src="{{ $thumbnail.url }}" alt="{{ .company }}">
                </div>
              </div>
            </div>
            <div class="content mt-4">
              <p class="subtitle">{{ .text | markdownify }}
            </div>
          </div>
        </div>
      </div>
      {{- end }}
    </div>
  </div>
</section>