{{- $benefit := .Params.benefit }}
{{- $backgroundImage := index $benefit "background-image" }}
{{- $sectionTitle := index $benefit "section-title" | default "" -}}
{{- $title := index $benefit "title" | default "" -}}
{{- $subtitle := index $benefit "subtitle" | default "" -}}
{{- $content := index $benefit "content" | default "" -}}

{{ $image := partial "convert-image.html" (dict "src" $backgroundImage "resize" "1800x" "quality" "100") }}
  <section class="section section-background-dark section-solution-detail-benefit is-medium"
  style="background-image: url('{{ $image.url }}');
         background-position: top;
         background-repeat: no-repeat;
         background-size: cover;
         min-height: {{ $image.height }}px;
         display: flex;
         align-items: center;
         justify-content: center;
">
  <div class="container has-text-centered">
    <div class="columns is-centered is-vcentered">
      <div class="column is-8">
        {{- if $sectionTitle }}
          <h3 class="section-name is-5">{{ $sectionTitle | markdownify }}</h3>
        {{- end }}
        {{- if $title }}
          <h1 class="section-title is-spaced">{{ $title | markdownify }}</h1>
        {{- end }}
        {{- if $subtitle }}
          <h3 class="section-subtitle">{{ $subtitle | markdownify }}</h3>
        {{- end }}
       <p>
        {{ $content | markdownify }}
       </p> 
      </div>
    </div>
  </div>
</section>