.hero-body {
    padding-top: 6rem;
    padding-bottom: 6rem;
    .page-title {
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
        color: #FFFFFF99;
    }
    .title {
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
    }
    .subtitle {
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
    }
}