/* ==========================================================================
   Services Problems Section styles
========================================================================== */

section.section {
  padding: 0;
}

.services-problems-section {
  background-color: #F3F5F7;
  padding: 7.5rem 4rem;
  width: 100%;

  .container {
    display: flex;
    gap: 4rem;
    height: 100%;
    width: 100%;
    max-width: 100%;
  }

  .title-container {
    flex: 1;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
  }

  .section-title,
  .problem-title,
  .problem-description {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #fff;
  }

  .section-title {
    font-size: 36px;
    color: #1A1449;
  }

  .problem-title {
    font-size: 24px;
  }

  .problem-description {
    font-size: 18px;
  }

  .problem-card {
    background: linear-gradient(180deg, #1A1449 0%, #00002B 100%);
    width: 620px;
    height: 251px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .problem-card-icon-wrapper {
      position: absolute;
      top: -2rem;
      right: -2rem;
      width: 15rem; 
      height: 15rem; 
      pointer-events: none;
      }

      .circle {
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      }

      .circle-1 {
      width: 15rem;
      height: 15rem;
      background: linear-gradient(140deg, rgba(168, 27, 88, 0.25), rgba(60, 49, 152, 0.25));
      }
      .circle-2 {
      width: 11.25rem;
      height: 11.25rem;
      background: linear-gradient(140deg, rgba(168, 27, 88, 0.5), rgba(60, 49, 152, 0.5));
      }
      .circle-3 {
      width: 7.5rem;
      height: 7.5rem;
      background: linear-gradient(140deg, rgba(168, 27, 88, 1), rgba(60, 49, 152, 1));
      }

      .problem-icon {
      position: absolute;
      width: 3.75rem;
      height: 3.75rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 2;
      pointer-events: none;
      }

      .problem-card-text {
      margin-top: auto;
      margin-bottom: 0;
      }
    }
}