/* ==========================================================================
Result Section Styles
========================================================================== */

.result-section {
  background-color: #FFF;
  padding: 6em 0;

  .section-title,
  .title,
  .result-title {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    text-align: center;
  }

  .header-container {
    margin-bottom: 8em;

    .section-title {
      font-size: 16px;
      color: #A81B58;
      margin-bottom: 1.5em;
    }

    .title {
      font-size: 36px;
      color: #1A1449;
    }
  }


  .results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .result-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 290px;
      height: 220px;

      .result-icon {
        width: 80px;
        height: 80px;
      }

      .result-title {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .result-section {
    .results-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      max-width: 800px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      justify-items: center;

      .result-card {
        width: 80%;
        height: auto;
        gap: 1rem;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .result-section {
    .results-container {
      gap: 1rem;

      .result-card {
        width: 95%;
        gap: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .result-section {
    padding: 3em 2em;

    .section-title,
    .title,
    .result-title {
      text-align: left;
    }

    .header-container {
      margin-bottom: 4em;

      .title {
        font-size: 28px;
      }
    }

    .results-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .result-card {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: flex-start;

        .result-icon {
          width: 60px;
          height: 60px;
        }

        .result-title {
          font-size: 20px;
          text-align: left;
        }
      }
    }
  }
}