{{- $advantage := .Params.advantage }}
{{- $sectionTitle := index $advantage "section-title" | default "" -}}
{{- $title := index $advantage "title" | default "" -}}
{{- $subtitle := index $advantage "subtitle" | default "" -}}
{{- $advantages := index $advantage "advantages" | default "" -}}
<section class="section section-grey section-solution-detail-advantage is-medium ">
  <div class="container">
    <div class="container has-text-centered mb-6">
      <div class="columns is-centered is-vcentered">
        <div class="column is-8">
          {{- if $sectionTitle }}
            <h3 class="section-name is-5">{{ $sectionTitle | markdownify }}</h3>
          {{- end }}
          {{- if $title }}
            <h1 class="section-title is-spaced mb-4">{{ $title }}</h1>
          {{- end }}
          {{- if $subtitle }}
            <h3 class="section-subtitle">{{ $subtitle }}</h3>
          {{- end }}
        </div>
      </div>
    </div>
    <div class="columns is-multiline is-flex-wrap-wrap is-justify-content-center">
      <div class="column is-flex is-flex-direction-row is-flex-direction-column-tablet" style="gap: 2em">
          {{ range $advantages }}
            <div class="card is-flex is-flex-direction-column is-flex-grow-1 has-text-centered" style="min-height: 450px;">
              <div class="card-content is-flex is-flex-direction-column is-flex-grow-1 is-justify-content-flex-end pill-centered" style="padding-bottom: 2rem;">
                  <div class="pill-ring-1 pill-ring-centered">
                    <div class="pill-ring-2 pill-ring-centered">
                      <div class="pill-ring-3 pill-ring-centered">
                        <img src="{{ .image }}" alt="{{ .name }}">
                      </div>
                    </div>
                  </div>
                  
                  <h4 class="name is-4 mb-2">{{ .name }}</h4>
                  <h4 class="title is-4 mb-2 mt-6" style="font-size: 180%;">{{ .title }}</h4>
                  <p class="subtitle mt-4 mb-0">{{ .description | markdownify }}</p>
              </div>
            </div>
          {{ end }}
        </div>
    </div>
  </div>
</section>