<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
    <script>window.pipedriveLeadboosterConfig = {base: 'leadbooster-chat.pipedrive.com',companyId: 13886412,playbookUuid: '10fd1b0a-bfe0-4733-8970-d52b00fcd920',version: 2};(function () {var w = window;if (w.LeadBooster) {console.warn('LeadBooster already exists');} else {w.LeadBooster = {q: [],on: function (n, h) {this.q.push({ t: 'o', n: n, h: h });},trigger: function (n) {this.q.push({ t: 't', n: n });},};}})();</script><script src="https://leadbooster-chat.pipedrive.com/assets/loader.js" async></script>
  </head>
  <body>
    {{ if ne .Site.Params.preloader false }}
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>
    {{ end }}

    {{ block "main" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ partial "javascript.html" . }}
  </body>
</html>
