{{ define "main" }}

  {{ if .Params.hero }}
    {{ partial "landingpage/hero-landingpage.html" . }}
  {{ end }}

  {{ if .Params.features }}
    {{ partial "landingpage/features-landingpage.html" . }}
  {{ end }}

  {{ if .Params.liveInSection }}
    {{ partial "landingpage/live-in-landingpage.html" . }}
  {{ end }}

  {{ if .Params.section_testimonial }}
    {{ partial "section_testimonial.html" . }}
  {{ end }}

  {{ $pricingKey := .Params.pricingKey }}
  {{ if $pricingKey }}
    {{ $pricingData := index .Site.Params.pricing $pricingKey }}
    {{ if $pricingData }}
      {{ partial "landingpage/prices-landingpage.html" (dict "section_prices" $pricingData) }}
    {{ end }}
  {{ else }}
    {{ $section_prices := .Params.section_prices | default .Site.Params.section_prices }}
    {{ if $section_prices }}
      {{ partial "landingpage/prices-landingpage.html" (dict "section_prices" $section_prices) }}
    {{ end }}
  {{ end }}

  {{ if .Params.section_early_access }}
    {{ partial "landingpage/early-access-landingpage.html" . }}
  {{ end }}

  {{ partial "footer.html" . }}
{{ end }}
