{{ define "main" }}
  {{ partial "navbar.html" . }}

  <section class="section">
    <div class="container">
      <h1 class="title has-text-left" style="margin-bottom: 20px;">{{ .Title }}</h1>
      <div class="divider" style="margin-bottom: 20px; text-align: left"></div>
      <div class="columns is-multiline" style="margin-top: 20px;">
        {{ range .Pages }}
          <div class="column is-one-third">
            {{ partial "card.html" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>

  {{ partial "footer.html" . }}
{{ end }}

