{{ define "main" }}
<div style="background-color: #00002b; z-index: 1;">
    {{ partial "navbar.html" . }}
</div>
{{ partial "navbar-clone.html" . }}

<section class="section">
    {{ partial "services/hero.html" . }}
</section>
<section class="section">
    {{ partial "services/problems-section.html" . }}
</section>

<section class="section">
    {{ partial "services/solutions-section.html" . }}
</section>

{{ partial "section_testimonial.html" . }}

<section class="section">
    {{ partial "services/result-section.html" . }}
</section>

<section class="section">
    {{ partial "section_cta.html" . }}
</section>

{{ partial "footer.html" . }}

  {{ if .Params.sidebar }}
  {{ partial "single/sidebar.html" . }}
  {{ end }}

{{ end }}