{{ define "main" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "{{ .Title }}",
  "description": "{{ .Description }}",
  "url": "{{ .Permalink }}",
  "brand": {
    "@type": "Organization",
    "name": "Smart Labs AI GmbH"
  },
  "offers": {
    "@type": "Offer",
    "url": "{{ .Permalink }}",
    "priceCurrency": "EUR",
    "availability": "https://schema.org/InStock"
  }
}
</script>

  {{ if .Params.hero }}
    {{ partial "solution/hero-solutionpage.html" . }}
  {{ end }}

  {{ if .Params.features }}
    {{ partial "solution-detail/features-solutiondetail.html" . }}
  {{ end }}

  {{ if .Params.advantage }}
    {{ partial "solution-detail/advantage-solutiondetail.html" . }}
  {{ end }}

  {{ if .Params.benefit }}
    {{ partial "solution-detail/benefit-solutiondetail.html" . }}
  {{ end }}

  {{ if .Params.useCases }}
    {{ partial "solution-detail/use-cases-solutiondetail.html" . }}
  {{ end }}

  {{ if .Params.pricingKey }}
    {{ $pricingData := index .Site.Params.pricing .Params.pricingKey }}
    {{ partial "landingpage/prices-landingpage.html" (dict "section_prices" $pricingData "Permalink" .Permalink) }}
  {{ end }}

  {{ if .Params.materials }}
    {{ partial "solution-detail/materials-solutiondetail.html" . }}
  {{ end }}

  {{ partial "section_cta.html" . }}

  {{ partial "footer.html" . }}
{{ end }}
