/* ==========================================================================
Classes to change the feel of bulma buttons
========================================================================== */

// CTA buttons 

.button {
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 12px;
    border-width: 2px;
    border-color: $white;
    &.cta {
        font-weight: 500;
    }
    &.is-clear {
        line-height: 0 !important;
    }
    &.rounded {
        border-radius: 500px;
    }
    &.raised:hover {
        box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
        opacity: 0.8;
    }
    &.btn-outlined {
        background: transparent;
    }
    &.contact-button {
        font-weight: 500;
        padding: 22px 22px;
    }
}

.button {
    &.primary-btn, &.secondary-btn {
        outline: none;
        padding: 12px 24px;
        transition: all 0.5s;

        &.raised:hover {
            box-shadow: 0 14px 26px -12px rgba(27, 21, 65, 0.42), 0 4px 23px 0px rgba(27, 21, 65, 0.12), 0 8px 10px -5px rgba(27, 21, 65, 0.2) !important;
            opacity: 0.8;
        }
    }

    &.primary-btn {
        border-color: $primary;
        background-color: $primary;
        color: $primary-invert;
        &:hover {
            color: $primary-invert-hover;
        }
        &.btn-outlined {
            border-color: $primary;
            color: $primary;
            background-color: transparent; 
            &:hover {
                color: $white;
                background-color: $primary;
            }
        }
    }
    &.secondary-btn {
        background: transparent;
        color: $white;
        &:hover {
            color: $white;
        }
        &.btn-outlined {
            color: $secondary;
            background-color: transparent; 
            &:hover {
                color: $white;
                background-color: $secondary;
            }
        }
    }
}

.section-pricing {
    .cta {
        margin-bottom: 32px;
        border: 6px solid rgba($hibiscus, 0.2);
        border-radius: 50px;
    }
    
    .cta a {
        display: block;
        background: $hibiscus;
        border-radius: 50px;
        color: white;
        padding: 14px 24px;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        transition: all 0.3s ease;
        letter-spacing: 0.5px;
        position:relative;
    }
}

.early-access-in-section {
    .button {
        background: $hibiscus;
        color: white;
        border:0;

        &:hover {
            color: lightgrey;
        }
    }
}