.card-image {
  margin-bottom: 1rem;  /* Add space below the image */
}

.card-content {
  .content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1.5em * 2); /* Maximum height of two lines */
    line-height: 1.5em;
    margin-bottom: 0.5rem;
  }
  .date {
    padding-top: -10px;
    color: #666;
  }
}
