
/* ==========================================================================
Color variables
========================================================================== */

$basaltic-grey: #878787;
$bloody: #FC354C;
$blue-grey: #444F60;
$border-grey: #ccc;
$dark-blue: #00002b;
$dark-grey: #344258;
$dark-purple: #3C3198;
$fade-grey: #ededed;
$frost: #004e92;
$grey-white: #f2f2f2;
$hibiscus: #A81A57;
$light-blue-grey: #98a9c3;
$light-grey: #EFF4F7;
$medium-grey: #66676b;
$midnight-blue: #1A1449;
$mint: #11FFBD;
$muted-grey: #999;
$pinky: #ff00cc;
$placeholder: #cecece;
$purple: #7F00FF;
$royal-blue: #191349;
$section-grey: #fbfbfb;
$smoke-white: #fcfcfc;
$success-green: #1AA769;
$title-grey: #A9ABAC;
$white: #fff;

$primary: $white;
$primary-invert: $dark-blue;
$primary-invert-hover: lighten($dark-blue, 30%);
$secondary: saturate(mix($primary, $primary-invert, 50%), 10%);
$link: $hibiscus;