.cta-section {
    padding: 4rem 4.5rem;

    .container {
        min-height: 380px;

        h2 {
            font-weight: 600;
            font-size: 2.75rem;
            line-height: 1em;
        }

        a {
            align-self: flex-start;
        }

        .cta-title {
            color: white;
        }

        .cta-title2 {
            color: rgba(255, 255, 255, 0.6);
            margin-top: 0.2em;
        }

        .subtitle {
            color: rgba(255, 255, 255, 0.6)
        }
    }
}

@media (max-width: 768px) {
    .cta-section {
        padding: 4rem 1rem;
    }
}