/* ==========================================================================
Fresh Footer
========================================================================== */

footer.footer-dark {
    background: $dark-blue;
    color: $white;
    .columns {
        margin-top: 35px;
    }
    .footer-logo {
        img {
            height: 40px;
        }
    }
    .footer-column {
        &.contact {
            @media screen and (min-width: 769px) {
                display: flex;
                justify-content: flex-end;
            }
        }

        .footer-header h3 {
            font-weight:500;
            font-size: 1.2rem;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        ul.link-list {
            line-height: 2rem;
            font-size: 1.1rem;
            a {
                color: $light-blue-grey;
                font-weight: 400;
                transition: all 0.5s;
            }
            a:hover {
                color: $smoke-white;
            }
        }

        .icon {    
            text-decoration: none;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: background-color 0.3s;
            
            transition: all 0.5s;
            :hover {
                color: $smoke-white;
            }
        }

        &.contact li {
            line-height: 1.3em;
            color: #98a9c3;
        }
    }

    .divider {
        padding: 0;
        margin: 0;
        opacity: 15%;
    }

    .last-line {
        color: #98a9c3;

        ul {
            list-style: none; 
            padding: 0;
            margin: 0; 
            display: flex; 
            justify-content: flex-end;
        }

        li {
            padding-left: 3em; 

        }
    }
}