/* ==========================================================================
Inputs styles
========================================================================== */

input.input, textarea.textarea, .card input.input, .card textarea.textarea {
    background-color:transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;     
    margin-top: 1em;
    font-size: 90%;
    padding: 20px;
    opacity: 1;
    color: $white;
}

input.input::placeholder, textarea.textarea::placeholder {
    color: $white;
    opacity: 40%;
}

label {
    color: $card-title-color;
}

label[for]:has(+ input:required)::after, label[for]:has(+ textarea:required)::after {
    content: "*";
    color: $hibiscus;
}

