/* ==========================================================================
Hero styles
========================================================================== */

.hero-background {
    background-image: url('/images/hero/hero.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 160% auto;
    height: 2023px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.hero-body {
    padding-top: 6rem;
    padding-bottom: 6rem;
    .title {
        &.is-bold {
            font-weight: 700;
        }
    }
    .subtitle {
        strong {
            color: $title-color;
            font-weight: 800;
        }
    }

    img {
        height: 256px;
        width: auto;
        margin-top: -30px;
    }
}

.hero-foot {
    img.partner-logo {
        height: 70px;
    }
}
