/* ==========================================================================
Section Styles
========================================================================== */


//Sections
.section {
    &.section-landingpage {
        color: $royal-blue;
    }

    &.section-white {
        background-color: white;
        color: $royal-blue;

        .section-title {
            font-weight: 600;
            font-size: 2.75rem;
            line-height: 1em;
        }
    }

    &.section-grey {
        background-color: $light-grey;
        color: $royal-blue;

        .section-title, .title, .section-subtitle, .subtitle {
            color: $royal-blue;
            font-family: inherit;
        }

        .section-title, .title {
            font-weight: 600;
            font-size: 2.75rem;
            line-height: 1em;
        }
    }

    &.section-background-dark {
        color:white;
        
        .section-name {
            font-size: 0.9rem;
            color: rgba(255, 255, 255, 0.6);
            letter-spacing: 0.05em;
            font-weight: 500;
            margin-bottom: 2em;
        }
    
        .section-title {
            font-size: 3.1rem;
            font-weight: 600;
            line-height: 1.1;
            margin-bottom: 1em;
            color: white;
        }
    
        .section-subtitle {
            font-size: 1.3rem;
            color: rgba(white, 0.6);
            line-height: 1.6;
            margin-bottom: 2em;
            font-weight: 400;
        }
    }

    &.section-light-grey {
        background-color: $light-grey;
    }
    &.section-feature-grey {
        background-color: $section-grey;
    }
    &.section-secondary {
        background-color: $secondary;
    }
    &.section-half {
        height: 75vh !important;
    }

    .section-name {
        color: $hibiscus;
        font-weight: 500;
        margin-bottom: 1em;
    }

    .subtitle {
        strong {
            color: $title-color;
        }
        &.is-muted {
            color: $muted-grey;
        }
    }

    &.latest-blog-posts {
        background: linear-gradient(120deg, rgba(#A81B58, 0.2) 0%, rgba($dark-purple,0.2) 100%);
    }
}

//Titles
.title-wrapper {
    max-width: 500px;
    margin: 0 auto;
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

@media (max-width: 768px) {
    .is-flex-direction-column-tablet {
        flex-direction: column !important;
    }
}