/* ==========================================================================
Section Styles
========================================================================== */

$card-transparency: 10%;
$card-color-start: rgba(#0c0a3c, $card-transparency);
$card-color-end: rgba(#21042e, $card-transparency);

//Sections
.section {
    &.section-white {
        background-color: white;
        color: #191349;
    }

    &.section-light-grey {
        background-color: $light-grey;
    }
    &.section-feature-grey {
        background-color: $section-grey;
    }
    &.section-secondary {
        background-color: $secondary;
    }
    &.section-half {
        height: 75vh !important;
    }
    .subtitle {
        strong {
            color: $title-color;
        }
        &.is-muted {
            color: $muted-grey;
        }
    }

    &.latest-blog-posts {
        background: linear-gradient(120deg, rgba(#A81B58, 0.2) 0%, rgba(#3C3198,0.2) 100%);
    }
}

//Titles
.title-wrapper {
    max-width: 500px;
    margin: 0 auto;
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}