{{- $aboutUsHero := .Params.aboutus_hero }}
{{- $backgroundImage := index $aboutUsHero "backgroundImage" }}
{{- $mainImage := index $aboutUsHero "mainImage" }}
{{- $pageTitle  := index $aboutUsHero "pageTitle" }}
{{- $title      := index $aboutUsHero "title" }}
{{- $subtitle   := index $aboutUsHero "subtitle" }}

<div class="aboutus-hero-background" style="background-image: url('{{ partial "convert-image.html" (dict "src" $backgroundImage "resize" "1800x" "quality" "90") }}');"></div>

  <img alt="Teamfoto" src="{{ partial "convert-image.html" (dict "src" $mainImage "resize" "1200x" "quality" "90") }}">

  <div class="container aboutus-hero-body">
    <div class="landing-caption">
      <p class="aboutus-page-title">
        {{ $pageTitle }}
      </p>

      <h1 class="hero-title section-title">
        {{ $title }}
      </h1>

      {{ with $subtitle }}
      <h2 class="hero-subtitle">{{ . | markdownify }}</h2>
      {{ end }}
    </div>
  </div>