
/* ==========================================================================
Bulma Theme variables
========================================================================== */
@import 'partials/colors';

$body-background-color: #00002b;
$body-background-color-nav: rgba(0, 0, 43, 0.93); // TODO compute it in navbar.css
$body-size: 1.00em;
$family-primary: Inter, -apple-system, Roboto, Helvetica, sans-serif;
$primary: $white;
$title-color: $white;
$title-family: Merriweather, -apple-system, Roboto, Helvetica, sans-serif;
$subtitle-color: $white;
$title-size: 260%;
$subtitle-size: 130%;