/* ==========================================================================
  About Us Goal styles
========================================================================== */

.aboutus-cta-container {
  background-color: #fff;
  padding: 6rem 4rem;
  padding-top: 0;
  display: flex;
  justify-content: center;

  .aboutus-cta-content {
    position: relative;
    overflow: hidden;
    background-color: #f8f9fa;
    border-radius: 24px;
    padding: 4rem;
    display: flex;
    flex-direction: column;

    // Background image
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('/images/about-us/values/background_2.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 0;
    }

    // Large logo on the right - full edge coverage
    /**&::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background-image: url('/images/about-us/values/logo.png');
      background-size: 100% 100%;
      background-position: right center;
      background-repeat: no-repeat;
      z-index: 1;
    }**/
  }

  .aboutus-cta-title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    z-index: 2;
    max-width: 75%;
    margin-bottom: 8rem;
  }

  .aboutus-cta-section-subtitle {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 16px;
    color: #FFFFFF99;
  }

  .aboutus-cta-section-title {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 36px;
    color: #fff;
  }

  .aboutus-cta-buttons {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: auto;
  }
}

@media screen and (max-width: 1024px) {
  .aboutus-cta-container {
    .aboutus-cta-title {
      max-width: 100%;
      margin-bottom: 6rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .aboutus-cta-container {
    .aboutus-cta-content {
      padding: 2rem;
    }
    .aboutus-cta-title {
      gap: 0.5rem;
      margin-bottom: 1.5rem;
    }
    .aboutus-cta-section-title {
      font-size: 28px;
    }
    .aboutus-cta-buttons {
      flex-direction: row;
      gap: 0;
    }
  }
}

@media screen and (max-width: 620px) {
  .aboutus-cta-container {
    .aboutus-cta-section-title {
      font-size: 24px;
    }
    .aboutus-cta-buttons {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      
      > * {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .aboutus-cta-container {
    padding: 4rem 2rem;
    .aboutus-cta-section-subtitle {
      font-size: 14px;
      text-align: center;
    }
    .aboutus-cta-section-title {
      font-size: 16px;
      text-align: center;
    }
  }
}