/* ==========================================================================
  About Us Goal styles
========================================================================== */

.aboutus-goal-container {
  background-color: #fff;
  padding: 6rem 4rem;

  .aboutus-goal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .aboutus-goal-title {
      text-align: center;
      margin-bottom: 4rem;

      .aboutus-goal-section-subtitle {
        font-family: Inter;
        font-weight: 600;
        text-align: center;
        font-size: 16px;
        line-height: 100%;
        color: #A81B58;
        margin-bottom: 0.5rem;
      }

      .aboutus-goal-section-title {
        font-family: Inter;
        font-weight: 600;
        text-align: center;
        font-size: 36px;
        line-height: 120%;
        color: #1A1449;
      }
    }

    .aboutus-goal-description {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 23px;
      line-height: 160%;
      text-align: center;

      color: #1A1449;

      max-width: 75%;
    }
  }
}

@media screen and (max-width: 760px) {
  .aboutus-goal-container {
    padding: 4rem 2rem;

    .aboutus-goal-content {
      .aboutus-goal-title {
        margin-bottom: 2rem;
        .aboutus-goal-section-title {
          font-size: 28px;
        }
      }
      .aboutus-goal-description {
        font-size: 18px;
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .aboutus-goal-container {
    .aboutus-goal-content {
      .aboutus-goal-title {
        .aboutus-goal-section-title {
          text-align: start;
        }
        .aboutus-goal-section-subtitle {
          text-align: start;
        }
      }
      .aboutus-goal-description {
        text-align: start;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .aboutus-goal-container {
    .aboutus-goal-content {
      .aboutus-goal-title {
        .aboutus-goal-section-title {
          font-size: 24px;
        }
      }
      .aboutus-goal-description {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .aboutus-goal-container {
    .aboutus-goal-content {
      .aboutus-goal-title {
        margin-bottom: 1rem;
        .aboutus-goal-section-title {
          font-size: 22px;
        }
      }
      .aboutus-goal-description {
        font-size: 14px;
      }
    }
  }
}