/* ==========================================================================
  About Us Hero styles
========================================================================== */

.aboutus-hero-background {
  height: 465px;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #1A1449 0%, #00002B 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.aboutus-hero-body {
  z-index: 1;
  height: 430px;
  padding: 0 6rem;
  margin-top: -7rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .landing-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .aboutus-page-title {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF99;
    margin-bottom: 0.75rem;
  }

  .hero-title {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1.25rem;
  }

  .hero-subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    color: #fff;
  }
}

@media screen and (max-width: 1320px) {
  .aboutus-hero-body {
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;

    .landing-caption {
      text-align: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 1180px) {
  .aboutus-hero-background {
    background-position: left top;
    background-size: cover;
  }
}

@media screen and (max-width: 920px) {
  .aboutus-hero-background {
    left: -6rem;
  }
}

@media screen and (max-width: 520px) {
  .aboutus-hero-body {
    padding: 0 2rem;
    
    .hero-title {
      font-size: 36px;
    }
    
    .hero-subtitle {
      font-size: 20px;
    }
  }
}