/* ==========================================================================
  About Us Mission styles
========================================================================== */

.aboutus-mission-container {
  background-color: #fff;
  padding: 6rem 4rem;

  .aboutus-mission-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .aboutus-mission-title {
      flex: 1;

      font-family: Inter;
      font-weight: 600;
      font-style: Semi Bold;
      font-size: 36px;
      line-height: 120%;

      color: #1A1449;
    }

    .aboutus-mission-description {
      flex: 1;

      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 144%;

      color: #1A1449;
    }
  }
}

@media screen and (max-width: 760px) {
  .aboutus-mission-container {
    .aboutus-mission-content {
      flex-direction: column;
      gap: 2rem;
    }
  }
}

@media screen and (max-width: 425px) {
  .aboutus-mission-container {
    padding: 4rem 2rem;
    .aboutus-mission-content {
      flex-direction: column;
      gap: 2rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .aboutus-mission-container {
    .aboutus-mission-content {
      .aboutus-mission-title {
        font-size: 28px;
      }
    }

    .aboutus-mission-description {
      font-size: 16px;
    }
  }
}