/* ==========================================================================
  About Us Values styles
========================================================================== */

.aboutus-values-container {
  background-color: #F5F5F7;
  padding: 6rem 4rem;

  .aboutus-values-content {

    .aboutus-mission-title {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      margin-bottom: 4rem;

      .aboutus-mission-section-subtitle {
        font-family: Inter;
        font-weight: 600;
        text-align: center;
        font-size: 16px;
        color: #A81B58;
      }

      .aboutus-mission-section-title {
        font-family: Inter;
        font-weight: 600;
        text-align: center;
        font-size: 36px;
        color: #1A1449;
      }
    }

    .aboutus-values-boxes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      .aboutus-values-box {
        background-color: #fff;
        padding: 2rem;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        position: relative;
        overflow: hidden;

        // Background image for first two boxes
        &:nth-child(1),
        &:nth-child(2) {
          background-image: url('/images/about-us/values/background_1.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        // Different background for third box
        &:last-child {
          grid-column: 1 / -1;
          background-image: url('/images/about-us/values/background_2.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .aboutus-values-box-icon-wrapper {
          width: 60px;
          height: 60px;
          margin-bottom: 1rem;

          .aboutus-values-box-icon {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
          }
        }

        .aboutus-values-box-text {
          flex: 1;

          .aboutus-values-box-title {
            font-family: Inter;
            font-size: 24px;
            font-weight: 600;
            color: #FFF;
            margin-bottom: 0.5rem;
          }

          .aboutus-values-box-description {
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            color: #FFF;

            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .aboutus-values-container {
    .aboutus-values-content {
      .aboutus-mission-title {
        .aboutus-mission-section-subtitle {
          font-size: 20px;
        }

        .aboutus-mission-section-title {
          font-size: 32px;
        }
      }
      .aboutus-values-boxes {
        grid-template-columns: 1fr;

        .aboutus-values-box {
          &:last-child {
            background-image: url('/images/about-us/values/background_1.png');
            grid-column: auto;
          }

          .aboutus-values-box-text {
            .aboutus-values-box-title {
              font-size: 24px;
            }

            .aboutus-values-box-description {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .aboutus-values-container {
    padding: 4rem 2rem;
    .aboutus-values-content {
      .aboutus-values-boxes {
        gap: 1rem;
        .aboutus-values-box {
          gap: 1rem;
          .aboutus-values-box-icon-wrapper {
            width: 50px;
            height: 50px;
            margin-bottom: 0.5rem;
          }
          .aboutus-values-box-text {
            .aboutus-values-box-title {
              font-size: 20px;
            }
            .aboutus-values-box-description {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 525px) {
  .aboutus-values-container {
    .aboutus-values-content {
      .aboutus-values-boxes {
        .aboutus-values-box {
          flex-direction: row;
          .aboutus-values-box-icon-wrapper {
            width: 30px;
            height: 30px;
            margin-bottom: none;
          }
          .aboutus-values-box-text {
            .aboutus-values-box-title {
              font-size: 20px;
            }
            .aboutus-values-box-description {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .aboutus-values-container {
    .aboutus-values-content {
      .aboutus-mission-title {
        margin-bottom: 2rem;
        .aboutus-mission-section-subtitle {
          font-size: 16px;
          text-align: start;
        }
        .aboutus-mission-section-title {
          font-size: 28px;
          text-align: start;
        }
      }
      .aboutus-values-boxes {
        .aboutus-values-box {
          padding: 1.5rem;
          .aboutus-values-box-text {
            .aboutus-values-box-title {
              font-size: 20px;
            }
            .aboutus-values-box-description {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .aboutus-values-container {
    .aboutus-values-content {
      .aboutus-values-boxes {
        .aboutus-values-box {
          .aboutus-values-box-icon-wrapper {
            display: none;
          }
        }
      }
    }
  }
}