{{- $hero := .Params.hero }}
{{- $backgroundImage := index $hero "background-image" }}
{{- $title := index $hero "title" }}
{{- $title2 := index $hero "title2" }}
{{- $subtitle := index $hero "subtitle" }}
{{- $sectionTitle := index $hero "section-title" }}
{{- $content := index $hero "content" }}
{{- $solutions := index $hero "solutions" }}
{{- $ctas := index $hero "ctas" }}

{{ $src := $backgroundImage }}
{{ $img := resources.Get $src }}
{{ if $img }}
  {{ $processedBackground := $img.Process "resize 1800x webp q100" }}
  {{ $height := $processedBackground.Height }}
  <style>
    .hero-background-custom::before {
      background: url('{{ $processedBackground.RelPermalink }}') no-repeat center/cover;
      height: {{ $height }}px;
    }
  </style>
  
  <section class="section">
    <div class="section hero-container">
      <div class="hero-background-custom"></div>
      
      <div class="hero-body">
        <div class="container">
          <div class="hero-content">
            <div class="section-badge">
              <span class="section-title">{{ $sectionTitle | markdownify }}</span>
            </div>
            
            <h1 class="hero-title">
              {{ $title }}
            </h1>
            <h1 class="hero-title">
              {{ $title2 }}
            </h1>

            <div class="pill-bar pill-bar-big-icons">
              <div class="pill pill-glass">
                {{ with $solutions }}
                {{ range . }}
                  <div class="logo-icon">
                    <img src="{{ .item.image }}">
                  </div>
                {{ end }}
                {{ end }}
              </div>
            </div>

            {{ with $subtitle }}
            <p class="hero-subtitle mt-6">
              {{ . | markdownify }}
            </p>
            {{ end }}
            
            <div class="cta-section">
              {{ with $ctas }}
              {{ range . }}
              <a href="{{ .href }}" class="button rounded {{ .class }} raised mr-4">
                  {{ .label }}
                  <span class="icon ml-2">
                    <i class="fas fa-arrow-right"></i>
                  </span>
              </a>
              {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{{ else }}
  {{ errorf "Image not found: %s" $src }}
{{ end }}