{{/* 
Shortcode für Sections mit mehreren Bildern
Usage: {{< page-multi-image image1="path1.png" image2="path2.png" alt1="Alt 1" alt2="Alt 2" >}}
# Titel
Content hier
{{< /page-multi-image >}}
*/}}

<section>
<div class="section-container">
<div class="section-text">

{{ .Inner | markdownify }}

</div>
<div class="section-image">
{{ if .Get "image1" }}
<div class="multi-image">
  {{ $image1 := partial "convert-image.html" (dict "src" (.Get "image1") "resize" (printf "%sx" (.Get "width1" | default "800")) "quality" "90") }}
  <img src='{{ $image1.url }}' alt="{{ .Get "alt1" | default "Bild 1" }}" loading="lazy" />
</div>
{{ end }}
{{ if .Get "image2" }}
<div class="multi-image">
  {{ $image2 := partial "convert-image.html" (dict "src" (.Get "image2") "resize" (printf "%sx" (.Get "width2" | default "800")) "quality" "90") }}
  <img src='{{ $image2.url }}' alt="{{ .Get "alt2" | default "Bild 2" }}" loading="lazy" />
</div>
{{ end }}
</div>
</div>
</section>