<article class="blog-card">
  <div class="blog-image-container">
    <img
      src="{{ .Site.BaseURL }}{{ .Params.image | relURL }}"
      alt="{{ .Title }}"
      style="object-fit: cover; object-position: center;"
      class="blog-image"
    />
  </div>
  <time class="blog-date">{{ .Date.Format "02.01.2006" }}</time>
  <h2 class="blog-card-title">{{ .Title }}</h2>
  <p class="blog-excerpt">
    {{ .Summary }}
  </p>
  <a href="{{ .Permalink }}" class="read-more">
    <span>Mehr erfahren</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M5 12l14 0" />
      <path d="M13 18l6 -6" />
      <path d="M13 6l6 6" />
    </svg>
  </a>
</article>