<article class="blog-card is-flex is-flex-direction-column h-full">
  <div class="blog-image-container">
    {{ $image := resources.Get (.Params.image | relURL) }}
    {{ if $image }}
      {{ $resized := $image.Resize "720x webp" }}
      <img src="{{ $resized.RelPermalink }}" alt="{{ .Title }}" style="object-fit: cover; object-position: center;" class="blog-image" />
    {{ else }}
      <div class="error-image">Bild nicht verfügbar</div>
    {{ end }}
  </div>
  <div class="blog-card-content is-flex is-flex-direction-column is-flex-grow-1">
    <time class="blog-date">{{ .Date.Format "02.01.2006" }}</time>
    <h2 class="blog-card-title">{{ .Title }}</h2>
    <p class="blog-excerpt is-size-6 mb-4">
      {{ .Summary }}
    </p>
    <a href="{{ .Permalink }}" class="read-more mt-auto">
      <span>Mehr erfahren</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l14 0" />
        <path d="M13 18l6 -6" />
        <path d="M13 6l6 6" />
      </svg>
    </a>
  </div>
</article>