<div class="card">
  <div class="card-content">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{ .Site.BaseURL }}blog{{ .Params.image | relURL }}" alt="{{ .Title }}" style="object-fit: cover; object-position: center;">
      </figure>
    </div>
    <p class="title" style="margin-bottom: 0.5rem;">{{ .Title }}</p>
    <p class="content is-size-5">{{ .Summary }}</p>
    <div class="subtitle is-size-6" style="color: #666">
      {{ .Date.Format "Jan 2, 2006" }}
    </div>
    <a href="{{ .Permalink }}" class="button cta primary-btn raised">Read More</a>
  </div>
</div>
