<div class="card">
  <div class="card-content">
    <div class="card-image">
      <figure class="image is-4by3">
        {{ $imagePath := trim .Params.image "/" }} 
        {{ $original := resources.Get $imagePath }}
        
        {{ if $original }}
          {{ $thumbnail := $original.Resize "384x webp q85 drawing" }}
          <img src="{{ $thumbnail.RelPermalink }}" alt="{{ .Title }}" style="object-fit: cover; object-position: center;">
        {{ else }}
          {{ errorf "Image not found: %s" .Params.image }}
        {{ end }}
      </figure>
    </div>
    <p class="title is-size-4">{{ .Title }}</p>
    <p class="content is-size-5">{{ .Summary }}</p>
    <div class="subtitle is-size-6" style="color: #666">
      {{ .Date.Format "2. Januar 2006" }}
    </div>
    <a href="{{ .Permalink }}" class="button cta primary-btn raised">Mehr erfahren</a>
  </div>
</div>
