{{- $footer      := .Site.Params.footer }}
{{- $logo        := index $footer "logo" }}
{{- $quickLinks  := index $footer "quicklinks" }}
{{- $bulmaLogo   := index $footer "bulmalogo" }}
{{- $contact    := index $footer "contact" }}
{{- $finalLine    := index $footer "finalLine" }}
<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          {{ if $logo }}
            <img src="{{ printf "/images/logos/%s" $logo | relURL }}" loading="lazy" alt="Logo">
          {{ else }}
            <img src="{{ "/images/logos/default-logo.png" | relURL }}" loading="lazy" alt="Logo">
          {{ end }}
        </div>
      </div>
      {{- range $quickLinks }}
        <div class="column is-narrow mr-6">
          <div class="footer-column">
            <div class="footer-header">
                <h3>{{ .title }}</h3>
            </div>
            <ul class="link-list">
              {{- range .links }}
              <li>
                <a href="{{ .link }}">
                  {{ .text }}
                </a>
              </li>
              {{- end }}
            </ul>
          </div>
        </div>
      {{- end }}
      <div class="column is-flex-grow-1">
        <div class="footer-column contact">
          <div class="footer-header">
            <h3>{{ $contact.title }}</h3>
              <ul class="link-list">
                <li>
                  {{ $contact.address1 }}
                </li>
                <li>
                  {{ $contact.address2 }}
                </li>
                <li class="mt-4">
                  {{ $contact.phone}}
                </li>
                <li class="mb-4">
                  <a href="mailto:{{ $contact.mail }}">{{ $contact.mail }}</a>
                </li>
                {{- range $contact.socialMedia }}
                <li>
                  <a class="social-media" href="{{ .link }}" aria-label="{{ .icon }}">
                    <span class="icon"><i class="fab fa-{{ .icon }}"></i></span>
                  </a>
                </li>
                {{- end }}
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
          <hr class="divider"/>
      </div>
    </div>
    <div class="columns last-line">
      <div class="column">
        {{ $finalLine.title}}
      </div>
      <div class="column is-pulled-right">
        <div class="is-pulled-right footer-column">
          <ul class="link-list">
            {{- range $finalLine.links }}
            <li>
              <a href="{{ .link }}"> {{ .text }} </a>
            </li>
            {{- end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>