{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $content    := index $hero "content" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $secondaryButtonText := index $hero "secondaryButtontext" }}
{{- $secondaryButtonLink := index $hero "secondaryButtonlink" }}
{{- $image      := index $hero "image" }}

<div class="hero-background"></div>
<div class="hero-background-grain"></div>
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered is-multiline is-hidden-touch">
      <div class="column is-8 landing-caption">
        <h1 class="title section-title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>
        {{ with $subtitle }}
        <h2 class="subtitle is-5">
          {{ . | markdownify }}
        </h2>
        {{ end }}
        {{ with $content }}
        <h2 class="content is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
        <div class="buttons mt-4">
          <a class="button cta rounded primary-btn raised mr-4" href="{{ $buttonLink }}">
            {{ $buttonText }}
          </a>
          <a class="button cta rounded secondary-btn raised" href="{{ $secondaryButtonLink }}">
            {{ $secondaryButtonText }}
          </a>
        </div>
      </div>
      <div class="column is-4">
        <figure class="image">
          <img src="{{ printf "images/%s" $image | relURL }}" alt="Vorhängeschloss als Symbol für KI-Sicherheit und Schutz">
        </figure>
      </div>
    </div>

    <div class="columns is-vcentered is-multiline is-hidden-desktop">
      <div class="column is-12 landing-caption">
        <h1 class="title section-title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>
        {{ with $subtitle }}
        <h2 class="subtitle is-5">
          {{ . | markdownify }}
        </h2>
        {{ end }}
        {{ with $content }}
        <h2 class="content is-5 is-muted">
          {{ . }}
        </h2>
        {{ end }}
      </div>
      <div class="column is-12 has-text-centered">
        <figure class="image is-inline-block mt-4">
          <img src="{{ printf "images/%s" $image | relURL }}" alt="Description">
        </figure>
      </div>
      <div class="column is-12 has-text-centered">
        <div class="buttons is-centered mt-4">
          <a class="button cta rounded primary-btn raised mr-4" href="{{ $buttonLink }}">
            {{ $buttonText }}
          </a>
          <a class="button cta rounded secondary-btn raised" href="{{ $secondaryButtonLink }}">
            {{ $secondaryButtonText }}
          </a>
        </div>
      </div>
    </div>
</div>
