{{- $section2 := .Site.Params.section2 }}
{{- $title    := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}

<section class="section is-medium" id="section2">
  <div class="container has-text-centered">
    <div class="columns is-centered is-vcentered">
      <div class="column is-8">
        <h1 class="title section-title is-spaced">{{ $title }}</h1>
        <h3 class="subtitle">{{ $subtitle }}</h3>
      </div>
    </div>
  </div>
  <div class="container mt-6">
    <div class="columns is-multiline">
      {{- range $features }}
      <div class="column is-6">
        <div class="card is-flex is-flex-direction-column is-full-height">
          <div class="card-content is-flex-grow-1 is-flex is-flex-direction-column">
            <figure class="image is-64x64">
              <img src="{{ printf "images/illustrations/icons/%s.svg" .icon | relURL }}" alt="{{ .title }}">
            </figure>
            <h4 class="title is-4 mt-6">{{ .title | markdownify }}</h4>
            <p class="subtitle mt-4">{{ .text | markdownify }}</p>
          </div>
        </div>
      </div>
      {{- end }}
    </div>
  </div>
</section>
