{{- $section_contact   := .Site.Params.section_contact }}
{{- if eq $section_contact true }}
{{- $section_contact = dict "_" "_" }}
{{- end }}
{{- $title      := index $section_contact "title" | default "Drop us a line or two "}}
{{- $subtitle   := index $section_contact "subtitle" | markdownify }}
{{- $action     := index $section_contact "action" }}
{{- $method     := index $section_contact "method" }}
{{- $buttonText := index $section_contact "buttontext" | default "Send Message" }}
<section class="section section-primary is-medium" id="contact" style="background-image: url('/images/formular/formular.png'); background-position: top; background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{ $title | markdownify }}</h2>
      <h3 class="subtitle is-5">{{ $subtitle | markdownify }}</h3>
    </div>

    <div class="content-wrapper">
      <div class="columns mt-6">
        <div class="column is-6 is-offset-3">
          <div id="error-message" style="display: none;" class="notification is-danger has-text-centered">
            Ein Fehler ist aufgetreten. Bitte versuchen Sie es später erneut.
          </div>
          <div id="thankyou-message" style="display: none;" class="notification is-success has-text-centered">
            Danke für Ihre Anfrage, wir werden uns in Kürze bei Ihnen melden!
          </div>
          <form id="contact-form" action="https://form.smart-labs.ai/contact" method="POST" onsubmit="submitForm(event)">
            <div class="card is-flex is-flex-direction-column is-flex-grow-1">
              <div class="card-content is-flex-grow-1">
                <div class="columns is-multiline">
                  <div class="column is-12">
                    <label for="name">Dein Name</label>
                    <input class="input is-medium" id="name" name="subject" type="text" placeholder="Name" required>
                  </div>
                  <div class="column is-12">
                    <label for="email">Deine E-Mail Adresse</label>
                    <input class="input is-medium" id="email" name="email" type="email" placeholder="E-Mail-Adresse" required>
                  </div>
                  <div class="column is-12">
                    <label for="body">Deine Nachricht</label>
                    <textarea class="textarea" id="body" name="body" rows="10" placeholder="Kontaktnachricht" required></textarea>
                  </div>
                  <div class="column is-12">
                    <button type="submit" class="button cta is-link is-fullwidth mt-4" id="submit-button">{{ $buttonText }}</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card pipedriveWebForms" data-pd-webforms="https://webforms.pipedrive.com/f/c6vRsvlamMIgy5DpedBOJO2iKeQo5oS1jGfUAhGLcnel3y8O2RWhfULFXM2mB3Nt1V">
              <script src="https://webforms.pipedrive.com/f/loader"></script>
            </div>
          </form>

          
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-primary is-medium" id="contact">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-3 is-spaced">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns is-centered">
        <div class="column is-half">

        </div>
      </div>
    </div>
  </div>
</section>