{{- $section3 := .Site.Params.section3 }}
{{- $title    := index $section3 "title" }}
{{- $subtitle := index $section3 "subtitle" }}
{{- $features := index $section3 "features" }}

<section class="section is-medium" id="section2">
  <div class="container has-text-centered">
    <div class="columns is-centered is-vcentered">
      <div class="column is-8">
        <h1 class="title section-title is-spaced">{{ $title }}</h1>
        <h3 class="subtitle">{{ $subtitle }}</h3>
      </div>
    </div>
  </div>
  <div class="container mt-6">
    <div class="columns is-multiline">
      {{- range $features }}
      <div class="column is-6-desktop is-12-tablet">
        <div class="card {{ with .cardType }} {{ . }}{{ end }} is-flex is-flex-direction-column" style="height: 100%;">
          <div class="card-content is-flex-grow-1">
            <div class="is-flex is-flex-direction-row is-align-items-center">
              <figure class="image is-64x64">
                <img class="round-image" src="{{ printf "images/illustrations/faces/%s" .icon | relURL }}" alt="{{ .title }}">
              </figure>
              <div class="ml-4 is-flex is-flex-direction-column">
                <div class="is-flex is-flex-direction-column">
                  <h4 class="title is-8">{{ .name | markdownify }}</h4>
                </div>
                <div class="is-flex is-flex-direction-column">
                  <p class="subtitle mt-2">{{ .company | markdownify }}</p>
                </div>
              </div>
            </div>
            <div class="content mt-4">
              <p class="has-text-grey-light">{{ .text | markdownify }}
            </div>
          </div>
        </div>
      </div>
      {{- end }}
    </div>
  </div>
</section>