{{- $section_testimonial := .Site.Params.section_testimonial }}
{{- $title    := index $section_testimonial "title" }}
{{- $subtitle := index $section_testimonial "subtitle" }}
{{- $features := index $section_testimonial "features" }}

<section class="section testimonial is-medium" id="section-testimonial">
  <div class="container has-text-centered">
    <div class="columns is-centered is-vcentered">
      <div class="column is-8">
        <h1 class="title section-title is-spaced">{{ $title }}</h1>
        <h3 class="subtitle">{{ $subtitle }}</h3>
      </div>
    </div>
  </div>
  <div class="container mt-6">
    <div class="columns is-multiline">
      {{- range $features }}
      <div class="column is-6-desktop is-12-tablet">
        <div class="card {{ with .cardType }} {{ . }}{{ end }} is-flex is-flex-direction-column" style="height: 100%;">
          <div class="card-content is-flex-grow-1">
            <div class="is-flex is-flex-direction-row is-align-items-start">
              <figure class="image is-64x64">
                {{ $faceName := .face | default "" | strings.TrimPrefix "/" }}
                {{ $imagePath := printf "testimonial/images/face/%s" $faceName }}
                {{ $original := resources.Get $imagePath }}

                {{ if $original }}
                  {{ $thumbnail := $original.Resize "64x64 webp q85" }}
                  <img class="round-image" src="{{ $thumbnail.RelPermalink }}" alt="{{ .name }}">
                {{ else }}
                  {{ errorf "Image not found in assets: %s" $imagePath }}
                {{ end }}
              </figure>
              <div class="ml-4 is-flex is-flex-direction-column">
                <div class="is-flex is-flex-direction-column">
                  <h4 class="title is-8">{{ .name | markdownify }}</h4>
                </div>
                <div class="">
                  {{ $companyName := .logo | default "" | strings.TrimPrefix "/" }}
                  {{ $imagePath := printf "testimonial/images/logo/%s" $companyName }}
                  {{ $original := resources.Get $imagePath }}

                  {{ if $original }}
                    {{ $thumbnail := $original.Resize "x40 webp q85" }}
                    <img style="height:40px;" src="{{ $thumbnail.RelPermalink }}" alt="{{ .company }}">
                  {{ else }}
                    {{ errorf "Image not found in assets: %s" $imagePath }}
                  {{ end }}
                </div>
              </div>
            </div>
            <div class="content mt-4">
              <p class="has-text-grey-light">{{ .text | markdownify }}
            </div>
          </div>
        </div>
      </div>
      {{- end }}
    </div>
  </div>
  <div class="logo-container">
    {{- range $features }}
    <div class="logo-item">
      {{ $companyName := .logo | default "" | strings.TrimPrefix "/" }}
      {{ $imagePath := printf "testimonial/images/logo/%s" $companyName }}
      {{ $original := resources.Get $imagePath }}
      
      {{ if $original }}
        {{ $thumbnail := $original.Resize "x40 webp q85 drawing" }}
        <img style="height:40px;" src="{{ $thumbnail.RelPermalink }}" alt="{{ .company }}">
      {{ else }}
        {{ errorf "Image not found: %s" .Params.image }}
      {{ end }}
    </div>
    {{- end }}
  </div>
</section>
